<p id="notice"><%= notice %></p>

<p>
  <strong>Marc:</strong>
  <%= @car.marc %>
</p>

<p>
  <strong>Age:</strong>
  <%= @car.age %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
